
.meal_table {
    font-size: 0.5em;
}

.meal_table tr:not(.normal, .excess, .shortages) {
    background: #2a2a2a;
    color: #8e8e8e;
}
.meal_table td {
    background: #353535;
    font-size: 1.1em;
}

.normal {
    color: darkgreen;
}

.excess {
    color: darkred;
}

.shortages {
    color: darkblue;
}
.profile {
    font-size: 0.8em;
}
