#fail_message_section {
    font-size: 13px;
}

#fail_message_section #fail_area .fail_message_text {
    background: #a46464 !important;
    display: inline-block;
    padding: 1px 5px;
    word-wrap: anywhere;
    border-radius: 10px;
}

.fail_field  {
    background: #a46464 !important;
}